In [1]:
import numpy as np
import pandas as pd
import sqlite3

# create a new connection to a db in memory
conn = sqlite3.connect('data/van_crime_2003.db')

# create a cursor
c = conn.cursor()

# restore the given van_crime_2003.sql dump
c.executescript(open('data/van_crime_2003.sql', 'r').read())

In [3]:


van_crimes_df = pd.read_sql('''SELECT TYPE, MONTH, DAY, NEIGHBOURHOOD
                            FROM van_crimes WHERE NEIGHBOURHOOD IN ("Stanley Park", "West End")''', conn)

In [4]:
van_crimes_df

                                  TYPE  MONTH   DAY NEIGHBOURHOOD
0                   Theft from Vehicle     12  30.0  Stanley Park
1                   Theft from Vehicle     12  28.0  Stanley Park
2                   Theft from Vehicle     12  12.0  Stanley Park
3                   Theft from Vehicle     12  12.0  Stanley Park
4                   Theft from Vehicle     11   5.0  Stanley Park
..                                 ...    ...   ...           ...
251  Break and Enter Residential/Other      1  23.0      West End
252  Break and Enter Residential/Other      2   2.0      West End
253  Break and Enter Residential/Other      2  12.0      West End
254  Break and Enter Residential/Other      2  15.0      West End
255  Break and Enter Residential/Other      6  11.0      West End

[256 rows x 4 columns]

In [5]:
crime_types_count = van_crimes_df['TYPE'].value_counts()

In [6]:
crime_types_count

Theft from Vehicle                   124
Break and Enter Residential/Other     60
Theft of Vehicle                      44
Mischief                              28
Name: TYPE, dtype: int64